.popup__name {
  font-size: 14px;
  line-height: 1.21;
  border: none;
  outline: none;
  border-bottom: 1px solid #000;
  opacity: .2;
  width: 358px;
  padding-bottom: 7px; 
  margin-bottom: 30px;
}

@media (max-width:425px) {
  .popup__name {
    width: 238px;
  }
}