.popup__container_view_full {
  max-width: 75vmax;
  max-height: 75vmax;
  background-color: rgba(0,0,0,0);
  padding: 0;
}

@media (max-width:1279px) {
  .popup__container_view_full {
    align-content: center;
    justify-content: center;
  }
}
